{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'card-product-upsell', card_product: product %}
{% endcomment %}

<li class="tw-flex tw-flex-col tw-gap-2.5 tw-justify-between splide__slide" data-upsell-card>
    <div>
        <div class="tw-pb-4">
            {{ card_product.featured_image | image_url: width: 200 | image_tag: loading: 'lazy' }}
        </div>
        <div>
            <a href="" class="cart-item__name h4 break">
                {{ card_product.title }}
            </a>
            <p class="product-option">{{ card_product.selected_or_first_available_variant.price | money_with_currency }}</p>
        </div>
    </div>
    <product-form>
        {%- liquid
            assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
        -%}
        {%- form 'product',
            card_product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
        -%}
            <input
                type="hidden"
                name="id"
                value="{{ card_product.selected_or_first_available_variant.id }}"
                disabled
            >
            <button
                id="{{ product_form_id }}-submit "
                type="submit"
                name="add"
                class="quick-add__submit button button--full-width button--secondary card--horizontal__quick-add tw-min-w-max tw-py-4 tw-px-8"
                aria-haspopup="dialog"
                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                aria-live="polite"
                data-sold-out-message="true"
                {% if card_product.selected_or_first_available_variant.available == false %}
                    disabled
                {% endif %}
            >
                <span>
                    {%- if card_product.selected_or_first_available_variant.available -%}
                        Add
                    {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                </span>
                <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                </span>
                <div class="loading-overlay__spinner hidden">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </button>
        {%- endform -%}
    </product-form>
</li>