{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu data-openOnHover='true'>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
                data-submenu='{{ link.title | handle }}'
              >
                {% comment %}
                  Mega menu content gets appended separately from component-megamenu-item.js.
                  Customization for each Mega menu item can be done from megamenu-item.liquid section file.
                  You can make different variations of the "megamenu-item.liquid" section.
                  The parent's "data-submenu='{{ link.title | handle }}'" attribute is linked to "data-target-location="{{ section.settings.parent }}" in the section file.
                {% endcomment %}

                {% comment %}
                  Note: If the mega menu dropdown is only showing the loading overlay, from customizer add a "Mega Menu Item" section in Header.
                {% endcomment %}
                {% render 'loading-overlay', hidden: false %}
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
