<media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}">
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  
<div class="
  {%- if section.settings.gallery_layout == 'splide_slider_vertical_thumbnails' -%}
    md:tw-flex md:tw-flex-row-reverse md:tw-gap-x-1
  {%- endif -%}"
>
    <product-gallery
      id="ProductGallery-{{ section.id }}"
      class="{% if section.settings.gallery_layout contains 'slider' %} splide{% endif %}"
      aria-label="Gallery Viewer"
      data-desktopperpage="1"
      data-mobileperpage="1"
      data-gapBetweenSlides="2rem"
      data-disableDrag="true"
      data-carouselSyncSelector="carousel-sync#sync-{{ section.id }}"
      data-variantFilter="{{ section.settings.hide_variants }}"
    >
      <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>
      <div class="splide__track">
        <ul class="{% if section.settings.gallery_layout contains 'slider' %} splide__list{% else %} tw-flex tw-flex-wrap tw-justify-center tw-gap-y-3{% endif %}">
          {%- for media in product.media -%}
          <li class="{% if media.media_type contains 'video' %} splide--slide-video{% endif %}{% if section.settings.gallery_layout contains 'slider' %} splide__slide{% else %} {{ section.settings.mobile_items }} {{ section.settings.desktop_items }} tw-px-2{% endif %}" data-media-id="{{ media.id }}" data-filter="{{ media.alt | escape }}">
            <div class="slot-item group">
              {% render 'product-media', media: media, loop: section.settings.enable_video_looping, forloop: forloop %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </product-gallery>

    {% comment %}
      Please specify the CSS properties 'width' and 'min-width' for the vertical slider.
    {% endcomment %}
    <carousel-sync
      id="sync-{{ section.id }}"
      class="
        {% if section.settings.gallery_layout contains 'slider' %} 
          splide
        {% endif %} 
        {% if section.settings.mobile_thumbnails == 'hide' %}
          small-hide 
        {% endif %} 
        {% if section.settings.gallery_layout == 'splide_slider_vertical_thumbnails' %}
          md:tw-min-w-[90px] md:tw-w-[90px]
        {% endif %}" 
      aria-label="Thumbnails Viewer"
      data-type="slide"
      data-focus="0"
      data-desktopperpage="6"
      data-desktopSlideGap="2rem"
      data-isNavigation="true"
      data-showArrows="true"
      {% if section.settings.gallery_layout == 'splide_slider_vertical_thumbnails' %}
        data-direction="ttb"
      {% endif %}
    >
      <div class="splide__track">
        <ul class="{% if section.settings.gallery_layout contains 'slider' %} splide__list{% else %} tw-flex tw-flex-wrap tw-justify-center tw-gap-y-3{% endif %}">
          {%- for media in product.media -%}
          <li class="{% if section.settings.gallery_layout contains 'slider' %} splide__slide{% else %} {{ section.settings.mobile_items }} {{ section.settings.desktop_items }} tw-px-2{% endif %}" data-media-id="{{ media.id }}" data-filter="{{ media.alt | escape }}">
            <div class="slot-item group">
              {%- if media.media_type == 'model' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59x,{% endif %}
                        {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                        {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                        {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                        {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                        {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                src="{{ media | image_url: width: 84, height: 84 }}"
                sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
                alt="{{ media.alt | escape }}"
                height="200"
                width="200"
                loading="lazy"
                class="tw-h-full tw-object-cover"
              >
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </carousel-sync>
  </div>  
</media-gallery>