{%- capture lazy_load_section %}
  {%- render 'lazy-load-section-validations' -%}
{%- endcapture -%}

{% if lazy_load_section != blank %}
  <lazy-section>
{% endif %}

  {% if lazy_load_section == blank %}  

    {% if section.blocks.size > 1 %}
      <script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
    {% endif %}

    {% style %}
      #slideshow--{{ section.id }} {
          display: block;
          padding-top: {{ section.settings.section-padding-top | times: 0.75 | round: 0 | append: 'px'  }};
          padding-bottom: {{ section.settings.section-padding-bottom | times: 0.75 | round: 0 | append: 'px'  }};
      }

      #shopify-section-{{ section.id }} carousel-component.splide {
          visibility: visible;
      }
      @media screen and (min-width: 750px) {
          #slideshow--{{ section.id }} {
              padding-top: {{ section.settings.section-padding-top | append: 'px'  }};
              padding-bottom: {{ section.settings.section-padding-bottom | append: 'px'  }};
        }
      }
    {% endstyle %}

    <carousel-component id="slideshow--{{ section.id }}" class="slideshow splide"
        data-autoplay="{{ section.settings.enable_autoplay | default: false }}"
        data-autoplay-speed="{{ section.settings.autoplay_speed | times: 1000 | default: 3000  }}"
        data-desktopperpage="1"
        data-showarrows="{{ section.settings.enable_arrows | default: true }}"
        data-pagination="{{ section.settings.enable_pagination | default: true }}"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {%- for block in section.blocks -%}
            <li class="splide__slide">
              {% if block.settings.image_desktop != blank %}
                  {% render 'responsive-picture' 
                      forloop: forloop,
                      desktopImage: block.settings.image_desktop, 
                      mobileImage: block.settings.image_mobile,
                      img-class: 'tw-w-full'
                  %}
              {% else %}
                  {{ 'lifestyle-2' | placeholder_svg_tag }}
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </carousel-component>

  {% endif %}       
       
{% if lazy_load_section != blank %}
  </lazy-section>
{% endif %}

{% schema %}
{
            "name":"Slideshow",
  "settings": [
    {
                    "type":"header",
                    "content":"SLIDER SETTINGS"
    },
    {
      "type": "checkbox",
                    "id": "enable_pagination",
                    "label": "Pagedots",
      "default": false
    },
    {
      "type": "checkbox",
                    "id": "enable_arrows",
                    "label": "Arrows",
      "default": true
    },
    {
          "type": "checkbox",
                    "id":"enable_autoplay",
                    "label": "Autoplay",
          "default": false
        },
        {
                    "type":"range",
                    "id": "autoplay_speed",
                    "label": "Autoplay interval",
                    "min": 2,
                    "max": 6,
                    "default": 3,
                    "info": "Default 3s"
            },
            {
                    "type":"header",
                    "content": "SECTION SETTINGS"
        },
        {
          "type": "range",
                    "id": "section-padding-top",
                    "label": "Padding top",
                    "default": 0,
          "min": 0,
                    "max": 100
        },
        {
                    "type": "range",
                    "id": "section-padding-bottom",
                    "label": "Padding bottom",
                    "default": 0,
                    "min": 0,
                    "max": 100
                }
            ],
            "blocks": [
        {
                    "name": "Slide",
                    "type": "carousel_block",
                    "settings": [
        {
                            "type":"header",
                            "content": "SLIDE SETTINGS"
            },
            {
                            "type": "image_picker",
                            "id": "image_desktop",
                            "label": "Image"
            },
            {
                            "type": "image_picker",
                            "id" : "image_mobile",
                            "label": "Image ( Mobile )"
        }
      ]
    }
  ],
  "presets": [
    {
                    "name":"Slideshow"
    }
  ]
}
{% endschema %}
